#rodape {
    position: relative;
    height: 300px;
    width: inherit;
    background-color: #C15143;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#rodape #redes-sociais-footer {
    height: 7%;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}    

#rodape #redes-sociais-footer div {
    text-align: center;
    font-weight: bold;
}

#rodape #redes-sociais-footer h4 {
    margin-top: 1%;
}

#rodape #redes-sociais-footer #linkedin i {
    color: #0077B7;
}

#rodape #redes-sociais-footer #twitter i {
    color: #1D9BF0;
}

#rodape #redes-sociais-footer #instagram i {
    background: -webkit-linear-gradient(45deg, #4D67C8, #000, #FECC49);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#rodape #redes-sociais-footer #github i {
    color: #0D0D0D;
}

#rodape #redes-sociais-footer #discord i {
    color: #5865F2;
}

#rodape #redes-sociais-footer #grupo-discord i {
    color: black;
}

#rodape  #fieldset {
    background-color: #8F3D32;
    border-radius: 10px;
    padding: 1%;
    width: 50%;
    overflow-x: hidden; 
    text-align: center;
}

footer #fieldset h3 {
    text-align: center;
}

footer #fieldset .label {
    width: 30%;
}

footer #fieldset .label input {
    width: 15%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
}

footer #fieldset p {
    width: 40%;
}

footer #fim {
    text-align: center;
    height: 3%;
    width: 100%;
    background-color: #C15143;
    float: left;
}
