header {
    width: 100%;
    height: 10%;
    background-color: #C15143;
    /*background-image: url(../Img/1385475.jpg);
    background-position: center;
    background-size: cover;*/
}

.menu_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-bottom: 0.1vmin solid #ECDBAD;
}

#logo {
    padding: 0.2rem;
    font-size: 2rem;
    width: 4.5%;
    text-align: center;
    margin-top: 0.5rem;
}

#opcoes {
    display: flex;
}

#opcoes li {
   justify-content: center; 
   margin-left: 10%;
}

#contato button {
    background: transparent;
    border: 1px solid transparent;
    font-size: 20px;
    display: block;
}

#contato :hover ,#contato button :hover {
    transition: 0.2s all;
    color: black;
    background-color: #ECDBAD;
    /*text-shadow: 1px 1px 10px;*/
    box-shadow: 1px 0px 10px #ECDBAD;
    border-radius: 1rem;
}

#contato button :hover {
    box-shadow: none;
}

#redes-sociais {
    font-size: 1%;
    display: flex;
}    

#redes-sociais div{
    margin-left: 10%;
}

#redes-sociais i {
    font-size: 25px;
}

#redes-sociais #linkedin i{
    margin-left: 1%;
    color: #0077B7;
}

#redes-sociais #twitter i{
    margin-left: 1%;
    color: #1D9BF0;
}

#redes-sociais #instagram i{
    margin-left: 1%;
    background: -webkit-linear-gradient(45deg, #4D67C8, #000, #FECC49);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#redes-sociais #github i{
    margin-left: 1%;
    color: #0D0D0D;
}

#redes-sociais #discord i{
    margin-left: 1%;
    color: #5865F2;
}

a, #redes-sociais div i {
    color: #ECDBAD;
    text-decoration: none;
    cursor: pointer;
}

#caixa_texto {
    height: 20%;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#caixa_texto .intro button {
    color: #ECDBAD;
    background: transparent;
    border: none;
    font-size: 1em;
    height: inherit;
    font-weight: bold;
    padding: 0px;
}

#caixa_texto .intro button :hover {
    text-shadow: 1px 1px 10px black;
}

#caixa_texto .intro button .nome span :hover {
    color: black;
    transition: 0.3s all;
    cursor: all-scroll;
}

#caixa_texto .descricao {
    font-size: 18px;
}

#caixa_texto .descricao span {
    color: #ECDBAD;
}

#caixa_texto .descricao abbr {
    color: #CCDBB2;
    text-decoration: none;
    cursor: pointer;
}